*.vswp
/node_modules/*
/_book/*
*.bak
*/_book/*
/docs/.gitignore
.gitbook.yaml
/How_to_use_Lua_in_Aegisub/node_modules/*
/How_to_use_Lua_in_Aegisub/_book/*
/Vidoe_Compression/_book/*
/Vidoe_Compression/node_modules/*